extends layout

block content
  h1(id="titlestyle")= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let roastedid = toShow._id
    - let roastedItemname = toShow.Itemname
    - let roastedQuantity = toShow.Quantity
    - let roastedprice = toShow.price

    div
      div.row
        div(class='roastedAttr mr-3') Roasted ID is:
        div(class='variety stylesheetnew') #{roastedid}
      div.row
        div(class='roastedAttr mr-3') Roasted Itemname is:
        div(class="variety") #{roastedItemname}
      div.row
        div(class='roastedAttr mr-3') Roasted Quantity is:
        div(class="variety") #{roastedQuantity}
      div.row
        div(class='roastedAttr mr-3') Roasted price is:
        div(class="variety") #{roastedprice}
    